# OS files
.DS_Store

# Vendor files
/node_modules
/vendor

# Build files
/index.dev.mjs
# /index.js
# /index.css

# Cache and temporary files
/.cache
/.php-cs-fixer.cache
/.phpunit.*
/index.dev.mjs
/tests/coverage
/tests/*/tmp
/tools/**/vendor
